.field
  flex 1
  margin-bottom $unit_spacing-2
  margin-right $unit_spacing-2
  width 100%

  &:last-child
    margin 0

.field__label
  color $color_grey-7
  display block
  font-size 1rem
  margin-bottom 5px
  width 100%

.field__field
  background-color $color_white
  border 1px solid $color_grey-1
  border-radius $unit_radius
  color $color_grey-7
  font-size 1rem
  height $unit_field-height
  line-height $unit_field-height
  padding 0 $unit_spacing-1
  width 100%

  &--textarea
    height auto
    line-height 1.25rem
    max-height ($unit_field-height*8)
    max-width 100%
    min-height ($unit_field-height*4)
    padding $unit_spacing-1

  &:disabled
    background-color $color_grey-0
    color $color_grey-3
    cursor not-allowed

  &--placeholder
    color $color_grey-1

  +placeholder()
    color $color_grey-1
