.form
  width 100%

.form__form
  container(600px)

.form__fieldset
  display flex
  margin-bottom $unit_spacing-1

  &--controls
    justify-content flex-end

.form__success
.form__error
  border-radius $unit_radius
  margin-bottom $unit_spacing-2
  padding $unit_spacing-2

.form__success
  background-color lighten($color_success, 40)
  color $color_success

.form__error
  background-color lighten($color_alert, 40)
  color $color_alert
