.header
  background-color $color_grey-0
  height $unit_header-height
  margin-bottom $unit_spacing-1
  width 100%

.header__container
  align-items center
  container()
  display flex
  height $unit_header-height

.header__logo
  align-items center
  background $color_white
  border-radius 50%
  display flex
  height 50px
  justify-content center
  width 50px
