.header
  height $unit_header-height
  margin-bottom $unit_spacing-1

.header__content
  background-color $color_grey-0
  height $unit_header-height
  position fixed
  top 0
  width 100%
  z-index $depth_header

.header__container
  align-items center
  container()
  display flex
  height $unit_header-height
  justify-content space-between

.header__logo
  align-items center
  background $color_white
  border-radius 50%
  display flex
  height 50px
  justify-content center
  width 50px

.header__actions
  height $unit_button-height
