.product-item
  background-color $color_grey-0
  display flex
  flex 0 0 100%
  height $unit_product-item-height
  margin 0 0 $unit_spacing-2
  text-decoration none
  transition background-color $unit_transition

  &:hover
    background-color darken($color_grey-0, 3)

  +breakpoint(md)
    flex 0 0 s('calc(50% - %s)', ($unit_spacing-2/2))
    margin 0 $unit_spacing-2 $unit_spacing-2 0

    &:nth-child(2n+2)
      margin 0 0 $unit_spacing-2

.product-item__photo
  align-items center
  background-color $color_grey-1
  background-position center
  background-repeat no-repeat
  background-size 80%
  display flex
  height $unit_product-item-height
  justify-content center
  overflow hidden
  width $unit_product-item-height

.product-item__img
  max-height 100%

.product-item__content
  display flex
  flex 1
  flex-direction column
  padding $unit_spacing-1

.product-item__heading
.product-item__description
.product-item__price
  margin 0

.product-item__heading
  color $color_orange-5
  font-size .875rem
  margin-bottom $unit_spacing-0

  +breakpoint(sm)
    font-size 1rem

.product-item__description
  color $color_grey-8
  font-size .875rem
  margin-bottom $unit_spacing-0

  +breakpoint(sm)
    font-size 1rem

.product-item__price
  color $color_green-7
  font-size .875rem

  +breakpoint(sm)
    font-size 1.175rem
