// Colors
$color_white = #ffffff
$color_black = #000000

// Breakpoints
$breakpoint_xl = 1280px
$breakpoint_lg = 1024px
$breakpoint_md = 768px
$breakpoint_sm = 568px

/ Units
$unit_spacing-0 = 5px
$unit_spacing-1 = 10px
$unit_spacing-2 = 16px
$unit_spacing-3 = 20px
$unit_radius = 3px
