// Colors
$color_white = #ffffff
$color_black = #000000

$color_grey-0 #EBEBEB
$color_grey-1 #D6D6D6
$color_grey-2 #C2C2C2
$color_grey-3 #ADADAD
$color_grey-4 #999999
$color_grey-5 #808080
$color_grey-6 #707070
$color_grey-7 #5C5C5C
$color_grey-8 #474747
$color_grey-9 #333333

$color_purple-0 #574E5F
$color_purple-1 #574568
$color_purple-2 #583D71
$color_purple-3 #583479
$color_purple-4 #582B82
$color_purple-5 #58238B
$color_purple-6 #591A93
$color_purple-7 #59119C
$color_purple-8 #5909A5
$color_purple-9 #5A00AD

$color_green-0 #767B65
$color_green-1 #7C875A
$color_green-2 #82924F
$color_green-3 #889D43
$color_green-4 #8EA838
$color_green-5 #94B42D
$color_green-6 #97B926
$color_green-7 #A0CA16
$color_green-8 #A6D50B
$color_green-9 #ACE000

$color_orange-0 #8F7E76
$color_orange-1 #9B7B69
$color_orange-2 #A8775D
$color_orange-3 #B47350
$color_orange-4 #C16F44
$color_orange-5 #CD6C37
$color_orange-6 #DA682B
$color_orange-7 #E9641D
$color_orange-8 #F36012
$color_orange-9 #FF5D05

// Breakpoints
$breakpoint_xl = 1280px
$breakpoint_lg = 1024px
$breakpoint_md = 768px
$breakpoint_sm = 568px

/ Units
$unit_spacing-0 = 5px
$unit_spacing-1 = 10px
$unit_spacing-2 = 16px
$unit_spacing-3 = 20px
$unit_radius = 3px
