container($width = $unit_container-width)
  margin 0 auto
  max-width $width
  padding 0 $unit_spacing-2
  width 100%

// @stylint off
placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
// @stylint on


breakpoint($size)
  @media screen and (min-width: lookup('$breakpoint_' + $size))
    {block}
